# ==========================================
# Virtual Environment
# ==========================================
venv/
.venv/
env/
ENV/

# ==========================================
# Poetry
# ==========================================
poetry.lock

# ==========================================
# Jupyter Notebook
# ==========================================
.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Logs
# ==========================================
logs/
*.log

# ==========================================
# Environment variables
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# Temporary files
# ==========================================
tmp/
temp/
*.tmp
cache/